<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        routerLink="/"
        class="navbar-brand" ><h1><em>Frank's Cars</em></h1></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <button  (click)="checkout()" class ="btn btn-primary">
        {{this.utilityService.carsinCartLength$ | async}} in shopping cart
      </button>

    </ul>
  </div>
</nav>
<app-cars-list></app-cars-list>
