<div class="container-fluid" *ngIf="car$|async as car">
  <div class="row">
    <div class="col-sm-6" >
      <img src="{{car.img_url}}" width="700" height="550">
    </div>
    <div class="col-sm-4">
      <h5>{{car.make}} {{car.model}}</h5>
      <h5>Fuel type: {{car.fuel_type}} </h5> <h5>KMS used: {{car.kms}} </h5>
      <h5> CO2: {{car.co2}} CO2/km</h5>
      <h5> Located at {{car.warehouse}}</h5>
      <strong>&euro; {{car.price}}</strong>
    </div>
  </div>
  <div class="row" style="margin-top: 30px; margin-left: 25px">
    <div class="col-sm-6">
      <button routerLink="/"
              class ="btn btn-primary"
      >back to homepage</button>
      <button class ="btn btn-primary" (click)="addToCart(car)">add to cart</button>
    </div>
  </div>

</div>

