.car-details{

  border: darkgray solid 1px;
  width: 15.5rem;
}
.cars-list{
  width: 85rem;
  display: grid;
  place-items: start center;
}
.car-desc{
  margin-bottom: 5rem;
}
.cant-view-cardetails{
  pointer-events: none;
}
