<div class="container-fluid">
  <div class="row" class="cars-list">

    <div class="col-md-3" *ngIf="allCarsDatesAddedASC$ | async as cars">
      <div>

        <div *ngFor="let car of cars" class="car-details">
          <a
            routerLink="car/{{car.id}}"
            [ngClass]="{'cant-view-cardetails': !car.licensed}">
            <div>
              <img src="{{car.img_url}}" class="img-thumbnail" width="250" height="200"></div>
            <div class="car-desc">{{car.make}} {{car.model}} <br>
              &euro; {{car.price}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
