<a routerLink="checkout">
  <div >
    <span class="checkout glyphicon glyphicon-shopping-cart"  style="color: darkorange;" >
      <span class="cart_quantity">{{cart_quantity}}</span>
    </span>
  </div>
</a>
