<div *ngFor="let car of carsInCart">

  <div>
    <img src="{{car.img_url}}" class="img-thumbnail" width="250" height="200"></div>
  <div class="car-desc">{{car.make}} {{car.model}} <br>
    &euro; {{car.price}}
  </div>
  <button (click)="removeCar(car)" class="btn btn-danger">remove car</button>
</div>


<button routerLink="/"
        class ="btn btn-primary"
>back to homepage</button><br>

Total cost : &euro; {{totalCost$ | async}}

